@model NikeStore.ViewModels.Admin.EditVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Site.cshtml";
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/Resources/Women.css">
}
<h2>Edit</h2>
<div style="width:50%;margin:auto;">
    <img src="~/Images/@Model.ImageName" id="image_preview" alt="Preview" style="width:100%;" />
</div>
@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div id="container">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ImageName)
    <div class="field" id="image" style="clear:both">
        <div>
            @Html.LabelFor(m => m.Image)
        </div>
        <div id="forImage">
            @Html.TextBoxFor(m => m.Image, new { type = "file", name = "Image", @onchange = "readfile(this);" })
        </div>
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="field" style="clear:both">
        <div>
            @Html.LabelFor(m => m.Name)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="field" style="clear:both">
        <div>
            @Html.LabelFor(m => m.Price)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Price)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.Price)
        </div>
    </div>
    <div class="field" style="clear:both">
        <div>
            @Html.LabelFor(m => m.Size)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Size)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.Size)
        </div>
    </div>
    <div class="field" style="clear:both">
        @for (int i = 0; i < Model.Tags.Count; i++)
        {
            @Html.CheckBoxFor(m => m.Tags[i].SetTag)
            <label>@Model.Tags[i].Name</label>
            @Html.HiddenFor(m => m.Tags[i].Id)
            @Html.HiddenFor(m => m.Tags[i].Name)
            <br />
        } 
    </div>
    <div class="field" style="clear:both;">
        <input class="button" type="submit" value="Save" />
    </div>
</div>
}

<script>
    function readfile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById("image_preview").src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<style>
    h2 {
        font-family: 'Baloo Bhaijaan', cursive;
        background-color: rgba(0,0,0,0.7);
        color: white;
        text-align: center;
        width: 25%;
        margin: auto;
    }
    input{
        color:black;
    }
    .button{
        background-color:black;
        color:white;
    }
    .field{
        color:white;
        text-align:center;
        margin-bottom:10px;

    }
    #container{
        background-color:rgba(0,0,0,0.7);
        width: 50%;
        margin:auto;
        font-family: 'Baloo Bhaijaan', cursive;
        padding:20px 0;
    }
    #forImage input{
        color:white
    }
</style>
